---
layout: default
title: The Persistence of Color
author: Avery Schroeder
permalink: /persistencecolor/
---
{% assign colors = site.data.colors | sort: 'name'  %}
{% assign letters = 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z' | split: ',' %}

<div class="glossary-button">
  <h1>The Persistence of Color</h1>
  <div><br>
      <p class="about">This glossary provides English translations of French color terms.  It is the first of its kind, perhaps because it is not as simple a tool as it seems. Words for color come in and out of fashion.  Their meaning and use alters over time and from place to place. To counteract these problems, we have here only translated words that appear in the captions and text of one context, seven years of the Journal des Dames et des Modes, and made every effort to use period dictionaries to locate meanings in use between 1797 and 1804.</p><br>
  </div>

  <div>
    <p class="about">
      {% for letter in letters %}
        <a href="#{{ letter }}">{{ letter | upcase }}</a>{% unless forloop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endunless %}
      {% endfor %}
    </p>
  </div>

  <div class="cont-section"><br>
    {% for letter in letters %}
    <h2 class="letter" id="{{ letter }}">{{ letter | upcase }}</h2>
  	<table class="color-dic">
  		<tr>
  			<th class="row-1"></th>
  			<th class="row-2"></th>
  		</tr>
      {% for color in colors %}
        {% assign color_letter = color.name | slice: 0 | downcase %}
        {% if color_letter == letter %}
      		<tr>
      			<td class="colorimage"><img src="{{ site.baseurl }}/colorswatches/{{ color.file }}" alt="{{ color.name }}"></td>
      			<td class="colordesc"><b>{{ color.name }}</b><br>{{ color.description }}</td>
      		</tr>
        {% endif %}
      {% endfor %}
    </table>
    {% endfor %}
  </div>
</div>
