<footer class="site-footer" role="banner">
  <div class="flex-container">

    <table class="flex-item" border="0">
      <tr>
        <td>
          <img src="{{ site.baseurl }}/images/logo-columbia.png" alt="columbia logo">
        </td>
        <td>
          Art History and Archaeology<br>
          Columbia University<br>
          826 Schermerhorn Hall<br>
          1190 Amsterdam Ave.<br>
          New York, NY 10027
          <br>Phone: (212) 854-4505<br>
          <a href="http://www.columbia.edu/cu/arthistory/">
            http://www.columbia.edu/cu/arthistory/
          </a>
        </td>
      </tr>
    </table>

    <table class="flex-item">
      <tr>
        <td>
          <img src="{{ site.baseurl}}/images/columbia_libraries_logo.png" alt="columbia divbraries logo">
        </td>
        <td>
          Columbia University Libraries<br>
          Digital Scholarship<br>
          535 West 114th Street<br>
          New York, NY 10027<br>
          Phone: (212) 854-7309<br>
          <a href="http://library.columbia.edu/">http://library.columbia.edu/</a>
        </td>
      </tr>
    </table>

    <table class="flex-item">
      <tr>
        <td>
          <img src="{{ site.baseurl}}/images/Morgan-logo.png" alt="morgan divbrary & museum logo">
        </td>
        <td>
          The Morgan divbrary<br>
          225 Madison Avenue<br>
          New York, NY 10016<br>
          Phone: (212) 685-0008<br>
          <a href="http://www.themorgan.org/">http://www.themorgan.org/</a>
        </td>
      </tr>
    </table>
  </div>
</footer>
