<footer class="site-footer" role="banner">
  <div class="navtwo">
    <ul class="navtwo">
          <li class="navlisttwo"><a class="navlinktwo" href="references.html">REFERENCES</a></li>
          <li class="navlisttwo"><a class="navlinktwo" href="contact.html">CONTACT</a></li>
          <li class="navlisttwo"><a class="navlinktwo" href="legal.html">LEGAL</a></li>
           
    </ul>
  </div>
  <div class="foot">
    <ul class="foot">
      <li class="footlist"><img class="home_logo" src="https://raw.githubusercontent.com/stylerevolution/stylerevolution.github.io/dev/_images/logo-columbia.png"></li>
      <li class="footlist"><img class="home_logo" src=https://raw.githubusercontent.com/stylerevolution/stylerevolution.github.io/dev/_images/MorganLogo_white.png></li>
  </ul>
  </div>
  

</footer>




