<header class="site-header" role="banner">
<div class="nav-position">
<div class="nav" id="navlanding">
    <ul class="nav" id="navlanding">
        <li class="navlist">
            <a class="logo" href="/">
                <img class="home_logo" src="https://raw.githubusercontent.com/stylerevolution/srplates/dev/_images/logo.png">
            </a>
        <li class="navlist"><a class="navlink" href="/about">ABOUT</a></li>
        <li class="navlist"><a class="navlink" href="/plates">PLATES</a></li>
        <li class="navlist"><a class="navlink" href="/timeline">TIMELINE</a></li>
        <li class="navlist"><a class="navlink" href="/map">MAP</a>
            <ul>
                <li><a href="#">Interactive Map of Paris</a></li>
            </ul>
        </li>
        <li class="navlist"><a class="navlink" href="/glossary">GLOSSARY</a>
            <ul>
                <li><a href="#">Textiles &amp; Materials</a></li>
                <li><a href="#">Color</a></li>
            </ul>
        </li>
        <li class="navlist"><a class="navlink" href="/exhibits">EXHIBITS</a>
            <ul>
                <li><a href="#">Paris V. London</a></li>
                <li><a href="#">Corsets, Stays, and Bodies</a></li>
                <li><a href="#">The Politics of Masculine Fashion</a></li>
            </ul>
        </li>
        <li class="navlist"><a class="logo" href="search.html">
            <img src="https://raw.githubusercontent.com/stylerevolution/stylerevolution.github.io/dev/_images/search%20logo%201.png" style="height: 45px; padding-top: 10px;"></a>
        </li>
    </ul>
</div>
</div>
</header>

