<!--Changes to head.html won't appear to these pages: index.html; interactivemap.html; 404.html-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

    <!-- Open Graph metadata -->
    <meta property="og:title" content="Style Revolution"/>
    <meta property="og:description" content="Digital exhibits and collection of the Journal des Dames et des Modes (1797-1804)">
    <meta property="fb:admins" content="elotroalex"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stylerevolution.github.io{{page.url}}"/>
    <meta property="fb:app_id" content="837201816410405"/>
    <meta property="og:image" content="https://stylerevolution.github.io/images/open-graph.png"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />


<!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
</head>
