<header class="site-header" role="banner">

   <div>
    <ul class="nav">
         <li class="navlist">
            <a class="logo" href="SR_Landing.html">
            <img class="home_logo" src="https://www.dropbox.com/s/il1xuzmx9f2ou89/JDM_logo.png?raw=1">
            </a>
        </li>
             <li class="navlist"><a class="navlink" href="SR_ABOUT.HTML">ABOUT</a></li>
             <li class="navlist"><a class="navlink" href="SR_PLATES.HTML">PLATES</a></li>
             <li class="navlist"><a class="navlink" href="SR_TIMELINE.HTML">TIMELINE</a></li>
             <li class="navlist"><a class="navlink" href="SR_MAP.HTML">MAP</a></li>
             <li class="navlist"><a class="navlink" href="SR_GLOSSARY.HTML">GLOSSARY</a></li>
             <li class="navlist"><a class="navlink" href="SR_SEARCH.HTML">SEARCH</a></li>
    </ul>
</div>
</header>
