<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
<script src="{{ site.js.leaflet.cdn }}"></script>
<script src="{{ site.js.leaflet-iiif.cdn }}"></script>
<div id="iiif-viewer"></div>

{%- capture manifest_uri -%}
  {{ site.baseurl }}/iiif/{{ page.collection }}/{{ page.pid }}/manifest.json
{%- endcapture -%}

<script type="text/javascript">window.manifest = "{{ manifest_uri}}";</script>
<script>
  function loadIIIFViewer(manifest_uri) {
    if ( $( "#iiif-viewer" ).length ) {
      var iiif_viewer;
      var iiifLayers = {};
      var manifestUrl = manifest_uri;
      iiif_viewer = L.map('iiif-viewer', {
        center: [0, 0],
        crs: L.CRS.Simple,
        zoomDelta: 0.5,
        zoomSnap: 0,
        zoom: 0
      });
      $.getJSON(manifestUrl, function(data) {
        var i = 1;
        $.each(data.sequences[0].canvases, function(_, val) {
          var label = 'image ' + i;
          iiifLayers[label] = L.tileLayer.iiif(val.images[0].resource.service['@id'] + '/info.json', {fitBounds: true});
          i++;
        });
        if (i > 2){ L.control.layers(iiifLayers).addTo(iiif_viewer);}
        iiifLayers[Object.keys(iiifLayers)[0]].addTo(iiif_viewer);
      });
    }
  }

  if (typeof(manifest) != "undefined"){
    loadIIIFViewer(manifest);
    console.log(manifest);
  }
</script>
