<div class="index-nav-position">
    <ul class="nav" id="navlanding">

        <li class="navlist about-button"><a class="navlink" href="/about">ABOUT</a>
          <ul>
              <li><a href="/about">About the project</a></li>
          </ul>
        </li>
        <li class="navlist plates-button"><a class="navlink" href="{{site.baseurl}}/plates">PLATES</a></li>
        <li class="navlist timeline-button"><a class="navlink" href="{{site.baseurl}}/timeline">TIMELINE</a></li>
        <li class="navlist map-button"><a class="navlink" href="{{site.baseurl}}/map">MAP</a>
            <ul>
                <li><a href="/interactivemap">Interactive Map of Paris</a></li>
            </ul>
        </li>
        <li class="navlist glossary-button"><a class="navlink" href="/glossary">GLOSSARY</a>
            <ul>
                <li><a href="/textilegloss">Textiles &amp; Materials</a></li>
                <li><a href="/persistencecolor">The Persistence of Color</a></li>
            </ul>
        </li>
        <li class="navlist exhibits-button"><a class="navlink" href="/exhibits">EXHIBITS</a>
            <ul>
                <li><a href="/parisvslondon">Paris vs. London</a></li>
                <li><a href="/corsetsstaysbodies">Corsets, Stays, and Bodies</a></li>
                <li><a href="/politicsofmasculinefashion">Fashion Success<br>vs. Legal Failure</a></li>
            </ul>
        </li>
        <li class="navlist"><a class="logo" href="/search">
            <img src="{{ site.baseurl }}/images/search%20logo%201.png" style="height: 45px; padding-top: 10px;"></a>
        </li>
    </ul>
</div>
