
    <ul class="nav" id="navlanding">
        <li class="navlist button">
          <a class="navlink {% if page.url == '/' %}selected{% endif %}" href="/">EXHIBITS</a>
            <ul>
                <li><a href="/parisvslondon">Paris vs. London</a></li>
                <li><a href="/underpinnings">Underpinnings or the Lack Thereof</a></li>
                <li><a href="/textilegloss">Textiles &amp; Materials</a></li>
                <li><a href="/persistencecolor">The Persistence of Color</a></li>
                <li><a class="navlink" href="{{site.baseurl}}/timeline">Timeline</a></li>
                <li><a class="navlink" href="{{site.baseurl}}/map">Mapping the Journal</a></li>
                <!--                 <li><a href="/politicsofmasculinefashion">Fashion Success<br>vs. Legal Failure</a></li> -->
            </ul>
        </li>
        <li class="navlist button">
          <a class="navlink {% if page.url == '/plates/' %}selected{% endif %}" href="{{site.baseurl}}/plates">PLATES</a>
        </li>
        <li class="navlist button">
          <a class="navlink {% if page.url == '/about/' %}selected{% endif %}" href="/about">ABOUT</a>
        </li>
        <li class="navlist button">
          <a class="navlink {% if page.url == '/credits/' %}selected{% endif %}" href="/credits">CREDITS</a>
        </li>
        <li class="navlist">
          <a class="navlink {% if page.url == '/search/' %}selected{% endif %}" href="/search"><img src="{{ site.baseurl }}/images/search.png" alt="search icon" width="25"/></a>
        </li>
    </ul>

