{% assign collection = site.collections | where: "label", page.collection | first %}
{% assign documents = collection.docs | sort: 'pid' %}
{% assign first_url = documents.first.url | relative_url %}
{% assign last_url = documents.last.url | relative_url %}

{% for doc in documents %}
  {% if doc.pid == page.pid %}
    {% if forloop.first %}
      {% assign prev_url = last_url | relative_url %}
    {% else %}
      {% assign prev_url = prev.url | relative_url %}
    {% endif %}
    {% if forloop.last %}
      {% assign next_url = first_url | relative_url %}
    {% else %}
      {% assign next_url = documents[forloop.index].url | relative_url %}
    {% endif %}
    {% break %}
  {% endif %}
  {% assign prev = doc %}
{% endfor %}

<table class="prevnext" width="100%" style="margin-bottom:30px;border:0;">
  <tr>
    <td style="text-align:left;">
      <a href="{{ prev_url }}" class="prev">Previous</a>
    </td>
    <td style="text-align:right;">
      <a href="{{ next_url }}" class="next">Next</a>
    </td>
  </tr>
</table>
