<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="{{ site.baseurl }}/js/elastic-lunr.js"></script>
<script src="{{ site.baseurl }}/js/lunr-index.js"></script>
<script src="{{ site.baseurl }}/js/lunr-ui.js"></script>

<div class="search" style="width:100%">
  <span class="icon">&#x1F50D;</span>&nbsp;&nbsp;
  <input type="text" class="searchTerm" id="search" placeholder="Browse the collection..." style="width:90%;font-size:20px;margin-bottom:30px;">
</div>
<div id="results" style="margin:20 auto;text-align:center;font-size:18px;"></div>
