@charset "utf-8";

// Make all changes not included in the minima.scss file here

div {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f1f1;
    margin: 0;

}

h1 {font-family: 'Playfair Display', serif;
    font-size: 46px;
    color: #d61e40;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    margin: 0px 0px 25px 0px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    color: #d61e40;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    padding-top: 25px;
}

h3 {
    font-family: 'Forum', 'Cinzel', serif;
    font-weight: bold;
    font-size: 22px;
    font-variant: normal;
    margin: 1px 1px 1px 1px;

}

li a:hover {
    color: black;
    color: white;
    text-decoration: none;
}

p {
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    padding: 5px;
}

p.about {
    text-align: center;
}

ul {
    list-style-type: none;
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 20px;
}

/* Nav Bar*/
.site-header {
    width: 100%;
    border-top: 0px;
}

.nav {
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 22px;
    text-align: center;
    margin: auto; 
    list-style-type: none;
    overflow: hidden;
    background-color: #717273;
    margin: 0;
}

.navlist {
    float: left;
}

.navlink {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    border: none;
    margin: none;
    text-decoration: none;
}

.home_logo {
    padding: 10px 45px;
    width:78px;
}
.logo {
    padding: 0px 
}

/*landing page*/

.main-content {
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
}

.tile {
    display: inline-block;
    float: left;
}

.tilesize { 
    padding: 3px 3px 3px 3px;
    width:250px;height:250px;
    display: inline-block; 
}

/*footer*/

.navtwo {
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 16px;
    margin: auto; 
    list-style-type: none;
    overflow: hidden;
    background-color: #717273;
    margin: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navlisttwo {
    text-align: center;
    float: left;
    text-align: justify;
    width: 33%;
}

.navlinktwo {
    display: inline-block;
    color: white;
    padding-top: 10px; 
    padding-bottom:10px;
    padding-left: 40%;
    padding-right: 40%;
    text-decoration: none;
    text-align: justify;
}

.foot {
    font-family: 'Forum', 'Cinzel', serif;
    list-style-type: none;
    overflow: hidden;
    background-color: #C4D8E2;
    margin: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 0;
    border-bottom: 0;
    display: inline-block;

}

.footlist {
    float: left;
    margin-left: 25%;
}

.footlink {
    display: inline-block;
    color: white;
    padding: 14px 45px;
    border: none;
    margin: none;
    text-decoration: none;
}

.copyright {
    font-size: 10px;
    color: black;
    vertical-align: middle;
}

.banner {
    width: 100%;
}

div.cont-section {
    background-color: #fefefe;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    vertical-align: middle;
}

div.cont-section img {
    height: 100px; 
    width: 100px;
    margin: 4px 15px 10px 0px; 
    border: 1px solid #000000;
    float: left;
} 

div.cont-section p {
    font-family: 'Forum', 'Cinzel', 'Constantia', serif;
    font-size: 18px;
    font-variant: normal;
    margin: 1px 0 0 0;
}

.contributor {
    padding: 20px;
    overflow: hidden;
}

.contributor img {
    width: 100px;
    margin-right: 15px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


/*Glossary Home Page*/
.glossary {
    width: 810px; 
    align-items: center;
    justify-content: center;
    margin: 0;
    display: inline-block;
}

.textilegloss {
    width: 400px;
    height: 450px;
    float: left;
    margin-left: auto;
}

.colorgloss {
    width: 400px;
    height: 450px;
    margin-left: 410px;
    margin-right: auto;
}

.textilegloss, .colorgloss {
    background-color: white;
    text-align: center;
    padding-top: 0px;
}

/* Glossaries*/

.letter {
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}

.color-dic{
    float: left;
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 18px;
    width: 100%;
    table-layout: fixed;
}

#colorimage {
      height: 50px;
      width: 50px;
      border-style: none;
      padding-left: 20px;
}

#color {
    font-weight: bold;
}

.row-1 {
    width: 15%;
}
.row-2 {
    width: 25%;
}

.row-3 {
    width: 60%;
}



/*Plate Gallery (with search?)*/

.gallery-block {
    text-align: center;
    background-color: #fefefe;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%
}

.gallery-section {
    margin-left: 0;
}

.gallery {
    display: inline-block;
    float: none;
    list-style-type: none;
}

.galleryimage {
    display: inline-block;
    width:110px;height:150px;
    padding: 1% 5px 10px 5px;
}

.main-content {
    background-color: white;
    padding-left: 15%;
}

.tile {
    display: inline-block;
    float: left;
}

.tilesize { 
    padding: 3px 3px 3px 3px;
    width:250px;height:250px;
    display: inline-block; 
}


/*Individual Plate Pages*/
.post-content {
    text-align: center;
}

.description {
    width: 810px; 
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.French {
    width: 400px;
    float: left;
}

.English {
    width: 400px;
    margin-left: 410px;
}

.French, .English {
    background-color: white;
    text-align: left;
    padding-top: 5px;
}

/*Individual Projects*/

.london {
    display: block;
    margin: auto;
    vertical-align: middle;
}

#map {
    width: $spacing-unit 0;
}

.map {
    vertical-align: middle;
    margin: auto;
    padding-left: 35%;
    padding-right: 25%;
}

.fashionspots, .jdmspots {
    position: left;
    margin: auto;
    width: 100%;
    height: 50%;
    padding: 2%;
    background-color: white;
    display: inline-block;
    float: center;
    margin-bottom: 2%;
}

.jdmspots img {
    float: right;
    margin: 15px;
    width: 400px;
    height: auto;
}

.fashionspots img {
    float: left;
    margin: 15px;
    height: 300px;
    width: auto;
}


.map-link {
    background-color: #717273;
    color: white;
    padding: 14px 50px;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 22pt;
    text-decoration: none;
    left: 50%;
    font-family: 'Forum', 'Cinzel', serif;
}

/*Timeline*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1px;
    display: inline-block;
    float: left;
    height: 350px;
    padding: 1% 5px 10px 5px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
/*Corsets*/

.corsets{
    position: left;
    margin: auto;
    width: 100%;
    height: 50%;
    padding: 2%;
    background-color: white;
    display: inline-block;
    float: center;
    margin-bottom: 2%;
}