@charset "utf-8";

// Make all changes not included in the minima.scss file here

div {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f1f1;
    margin: 0;

}

h1 {font-family: 'Playfair Display', serif;
    font-size: 46px;
    color: #d61e40;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    margin: 0px 0px 25px 0px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    color: #d61e40;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    padding-top: 25px;
}

h3 {
    font-family: 'Forum', 'Cinzel', serif;
    font-weight: bold;
    font-size: 22px;
    font-variant: normal;
    margin: 1px 1px 1px 1px;

}

li a:hover {
    color: black;
    color: white;
    text-decoration: none;
}

p {
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    padding: 5px;
}

p.about {
    text-align: center;
}

ul {
    list-style-type: none;
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 20px;
}

/* Nav Bar*/
.site-header {
    width: 100%;
    border-top: 0px;
}

div.index-nav-position {
    z-index: 2;
}

div.nav-position {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav {
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 22px;
    text-align: center;
    margin: auto; 
    list-style-type: none;
    background-color: #717273;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

.navlist {
    float: left;
    position: relative;
}

.navlist ul {
    display: none;
    position: absolute;
    background-color: #717273;
    border: none;
    padding-left: -40px;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

li.navlist:hover ul{
    display: block;
    opacity: 0.8;
}

.navlist ul li {
    width: 280px;
}

.navlist ul li a {
    padding: 8px 14px;
    display: block;
    text-align: left;
    font-size: 20px;
    color: white;
    text-decoration: none;
    opacity: 1;
}

.navlist ul li a:hover {
    background: #d61e40;
}

.navlink {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    border: none;
    margin: none;
    text-decoration: none;
}

.navlink:hover {
    background: rgba(238, 34, 72, 0.8);
}

#navlanding {
    position: static;
}

.home_logo {
    padding: 10px 20px;
    width:78px;
}

.logo {
    padding-right: 40px; 
    padding-bottom: 10px;
}

/*landing page*/

.tile-main-content {
    background-color: #f1f1f1;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    text-align: center;
}

.tile {
    display: inline-block;
    text-align: left;
    position: relative;
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 20px;
    font-weight: bold;
    max-width: 250px;
    margin: 3px;

    &:hover {
        .tiletext-br {
            background: rgba(238, 34, 72, 0.8);
        }
    }
}

.tilesize { 
    padding: 3px 3px 3px 3px;
    width:250px;height:250px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tiletext-br {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: rgba(113, 114, 115, 0.4);
    color: white;
    width: 220px;
    padding: 10px;
}

/*footer*/

.navtwo {
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 16px;
    margin: auto; 
    list-style-type: none;
    overflow: hidden;
    background-color: #717273;
    margin: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navlisttwo {
    text-align: center;
    text-align: justify;
    width: 33%;
}

.navlinktwo {
    display: inline-block;
    color: white;
    padding-top: 10px; 
    padding-bottom:10px;
    padding-left: 40%;
    padding-right: 40%;
    text-decoration: none;
    text-align: justify;
}

.foot {
    font-family: 'Forum', 'Cinzel', serif;
    list-style-type: none;
    overflow: hidden;
    background-color: #C4D8E2;
    margin: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 0;
    border-bottom: 0;
    display: inline-block;

}

.footlist {
    float: left;
    padding: 15px;
}

.footlist.institution {
    margin-left: 18%;
    justify-content: space-between;
}

.footlist.institution.morgan {
    margin-left: 13%;
}

.footlist.contact-info {
    color: #717273;
    font-size: 10px;
    text-align: left;
    display: inline-block;
}

.footlist.contact-info.morgan-info {
    padding-top: 24px;
}

.footlink {
    display: inline-block;
    color: white;
    padding: 14px 45px;
    border: none;
    margin: none;
    text-decoration: none;
}

.copyright {
    font-size: 14px;
    color: #717273;
    position: fixed;
    bottom: 0;
    margin-left: 2px;
}

.banner {
    width: 100%;
}

div.cont-section {
    background-color: #fefefe;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    vertical-align: middle;
}

div.cont-section img {
    height: 100px; 
    width: 100px;
    margin: 4px 15px 10px 0px; 
    border: 1px solid #000000;
    float: left;
} 

div.cont-section p {
    font-family: 'Forum', 'Cinzel', 'Constantia', serif;
    font-size: 18px;
    font-variant: normal;
    margin: 1px 0 0 0;
}

.contributor {
    padding: 20px;
    overflow: hidden;
}

.contributor img {
    width: 100px;
    margin-right: 15px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


/*Glossary Home Page*/
.glossary {
    width: 100%; 
    align-items: center;
    justify-content: center;
    margin: auto;
    display: inline-block;
    float: left;
}

.textilegloss {
    width: 48%;
    height: 450px;
    float: left;
    margin-left: auto;
}

.colorgloss {
    width: 48%;
    height: 450px;
    margin-left: 54%;
    margin-right: auto;
}

.textilegloss, .colorgloss {
    background-color: white;
    text-align: center;
    padding-top: 0px;
}

/* Glossaries*/

.letter {
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}

.color-dic{
    float: left;
    font-family: 'Forum', 'Cinzel', serif;
    font-size: 18px;
    width: 100%;
    table-layout: fixed;
}

#colorimage {
      height: 50px;
      width: 50px;
      border-style: none;
      padding-left: 20px;
}

#color {
    font-weight: bold;
}

#textile {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.row-1 {
    width: 15%;
}
.row-2 {
    width: 25%;
}

.row-3 {
    width: 60%;
}



/*Plate Gallery (with search?)*/

.gallery-block {
    text-align: center;
    background-color: #fefefe;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%
}

.gallery-section {
    margin-left: 0;
}

.gallery {
    display: inline-block;
    float: none;
    list-style-type: none;
}

.galleryimage {
    display: inline-block;
    width:110px;height:150px;
    padding: 1% 5px 10px 5px;
}

.main-content {
    width: 100%;
    max-width: 80%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.tile {
    display: inline-block;
    float: none;
}

.tilesize { 
    padding: 3px 3px 3px 3px;
    width:250px;height:250px;
    display: inline-block; 
}


/*Individual Plate Pages*/
.post-content {
    text-align: center;
}

.description {
    width: 100%; 
    display: inline-block;
    margin: auto;
    padding: 0;
    
}

.French {
    width: 49%;
    float: left;
}

.English {
    width: 49%;
    margin-left: 52%;
}

.French, .English {
    background-color: white;
    text-align: left;
    padding-top: 5px;
}

/*Individual Projects*/

.london {
    display: block;
    margin: auto;
    vertical-align: middle;
}

.map {
    vertical-align: middle;
    margin: auto;
    padding-left: 35%;
    padding-right: 25%;
}

.fashionspots, .jdmspots {
    position: left;
    margin: auto;
    width: 100%;
    height: 50%;
    padding: 2%;
    background-color: white;
    display: inline-block;
    float: center;
    margin-bottom: 2%;
}

.jdmspots img {
    float: right;
    margin: 15px;
    width: 400px;
    height: auto;
}

.fashionspots img {
    float: left;
    margin: 15px;
    height: 300px;
    width: auto;
}

.map-link {
    font-family: 'Forum', 'Cinzel', serif;
    width: 100%;
    background-color: #717273;
    color: white;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 22pt;
    text-decoration: none;
    left: 50%;
}
    

/*Corsets*/

.corsets{
    position: left;
    margin: auto;
    width: 100%;
    height: 50%;
    padding: 2%;
    background-color: white;
    display: inline-block;
    float: center;
    margin-bottom: 2%;
}

/*Timeline*/

div.timeline-page{
    position: relative;
    z-index: 0;
}

.card-block{
    margin: auto;
    display: inline-block;
    float: center;
    margin-bottom: 5%;
}

.timeline-cont-section{
    background-color: #fefefe;
    margin: auto;
    position: left;
    width: 100%;
    height: 50%;
    display: inline-block;
    float: center;
    margin-bottom: 2%;
    vertical-align: middle;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    transition: 0.3s;
    margin: auto;
    display: inline-block;
    height: 350px;
    width: 231px;
    padding: 1% 5px 10px 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 230px;
    z-index: 1;
}

div.hvrbox{
    width: 92%;
    max-width: 246px;
    display: inline-block;
    float: left;
}

.cardtwo {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    transition: 0.3s;
    margin: 1px;
    display: inline-block;
    height: 350px;
    padding: 1% 5px 10px 5px;
    text-align: center;
}

.cardtwo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hvrbox-layer_bottom {
    display: inline-block;
    height: 350px;
    width: 231px;
}

.hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 231px;
    height: 350px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox .hvrbox-layer_slideup {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox-text {
    text-align: left;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 22px;
    padding-right: 40px;
}

.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
  
  &:before {
    background-color: #717273;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }
}

.timeline-event {
  position: relative;
  
  &:hover {
  
    .timeline-event-icon {
      background-color: #d61e40;
    }
    
    .timeline-event-thumbnail {}
  }
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
  
  h3 {
    font-size: 1.75em;
    color: #d61e40;
  }
  
  h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  
  strong {
    font-weight: 700;
  }
  
  p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
  }
}

.timeline-event-icon { 
  background-color: #717273;
  outline: 10px solid #d61e40;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  color: white;
  font-size: 0.95em;
  background-color: #717273;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}