---
layout: page
---
{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign documents = site[the_collection] %}
  {% endif %}
{% for link in documents  %}
  {% if link.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = documents[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
    {% endunless %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

<table class="prevnext" width="100%" style="margin-bottom:30px;">
  <tr>
    <td style="text-align:left;">{% if prevurl %}<a href="{{site.baseurl}}{{prevurl}}" class="prev">{{prevtitle}}</a>{% endif %}</td>
    <td style="text-align:right;">{% if nexturl %}<a href="{{site.baseurl}}{{nexturl}}" class="next">{{nexttitle}}</a>{% endif %}</td>
  </tr>
</table>

<article class="post">
  <div class="post-content">
    {% include iiif_image.html %}
    <br><br>
    <p>
      <b>Plate Name:</b> {{ page.name }}<br>
      <b>Date:</b> {{ page._date }}<br>
    <p hidden>
      <b>plate:</b> {{ page.plate }}<br>
      <b>an:</b> {{ page.an }}<br>
      <b>name:</b> {{ page.name }}<br>
      <b>year:</b> {{ page.year }}<br>
      <b>date:</b> {{ page._date }}<br>
      <b>caption:</b> {{ page.caption }}<br>
      <b>translation:</b> {{ page.translation }}<br>
      <b>student:</b> {{ page.student }}<br>
      <b>keywords:</b> {{ page.keywords }}<br>
      <b>column:</b> {{ page.column }}<br>
      <b>flag translation:</b> {{ page.flag_translation }}
    </p>
  </div>
  <div class="description">
    <div class="French">
      <b hidden>caption:</b> {{ page.caption }}<br>
     <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in viverra orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce tempor sem eu libero venenatis molestie. Curabitur vitae purus porttitor justo aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in viverra orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce tempor sem eu libero venenatis molestie. Curabitur vitae purus porttitor justo aliquet. 
      </p>
      </div>
    <div class="English">
    <b hidden>translation:</b> {{ page.translation }}<br>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in viverra orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce tempor sem eu libero venenatis molestie. Curabitur vitae purus porttitor justo aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in viverra orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce tempor sem eu libero venenatis molestie. Curabitur vitae purus porttitor justo aliquet. 
    </p>
    </div>
    <div class="clear"></div>
  </div>


</article>
</article>

