---
layout: default
---
{% assign plates = site.data.plates %}
{% for plate in plates  %}
  {% if plate.pid == page.pid %}
    {% unless forloop.first %}
      {% assign prev_str = prev.pid %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = plates[forloop.index] %}
      {% assign next_str = next.pid %}
    {% endunless %}
  {% endif %}
  {% assign prev = plate %}
{% endfor %}

<table class="prevnext" width="100%" style="margin-bottom:30px;">
  <tr>
    <td style="text-align:left;">{% if prev_str %}<b>Previous: </b><a href="{{site.baseurl}}/plates/{{prev_str}}" class="prev">Plate {{prev_str}}</a>{% endif %}</td>
    <td style="text-align:right;">{% if next_str %}<b>Next: </b><a href="{{site.baseurl}}/plates/{{next_str}}" class="next">Plate {{next_str}}</a>{% endif %}</td>
  </tr>
</table>

<article class="post">
  <div class="post-content">
    {% include iiif_image.html %}
    <br><br>
    <h2>{{ page.title }}</h2>
    {% if page._date %}<h3>c. {{ page._date }}</h3>{% endif %}
  </div>
  <center>
    <h3>Caption (French)</h3>
    <p>{{ page.caption }}</p>
    <h3>Translation (English)</h3>
    <p>{{ page.translation }}</p>
  </center>
  <br><br>
</article>
